{% extends 'base.html' %}

{% block content %}
<style media="screen">
  .jumbotron{
     margin:0;
     font-family: 'Montserrat', sans-serif;
       scroll-behavior: smooth;
       background: #833ab4;  /* fallback for old browsers */
  background: linear-gradient(to right, #3bebf5, #c022f0, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to right, #3bebf5, #c022f0, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  }

</style>
  <div class="jumbotron">
    {% if username%}
      <h1>Welcome , <b><i>{{username}}</i></b>!!!!</h1>
    {% else %}
      <h1>Hey,user!!! <br> Please login....</h1>
    {% endif %}
  </div>

{% endblock %}
